<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/404.page</location>
    </error-page>
    
    <servlet>
        <servlet-name>Error404Servlet</servlet-name>
        <servlet-class>com.moonshotteam.urlshortener.Error404Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error404Servlet</servlet-name>
        <url-pattern>/404.page</url-pattern>
    </servlet-mapping>
    
</web-app>
